<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Login</p>
    <hr>
    <p><%=locals.loginFailed%></p>
    
    <p>WellCome Login Page !</p>
    <hr>
    <p>DO YOU WANNA REGISTER !  <a href="/register">Go Register !</a></p>
    <hr>
    <form action="/logged" method="post">
        <p>UserName:</p>
        <input type="text" name="username" value="muhammed">
        <br><br>
        <p>Password:</p>
        <input type="text" name="password" value="cansoy">
        <br><br>
        <input type="submit">
        <hr>
    </form>
</body>
</html>